/*
 *********************************
 * list of schedules
 *********************************
 */

.schedule_list {
   margin-left: auto;
   margin-right: auto;
}

.schedule_list thead th {
   background-color: #4f4f4f;
   color: white;
   text-align: center;
   font-size: 1em;
   padding: .4em .4em .4em .4em;
}

.schedule_list td {
   border-left: dashed #b8b8b8 1px;
   border-right: dashed #b8b8b8 1px;
   border-bottom: dashed #b8b8b8 1px;
}

